<header class="d-flex flex-wrap justify-content-center py-3 px-4"> 
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"> 
        <span class="my-name">Gabriel Peixoto</span> 
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#about" class="nav-link">Sobre</a></li>
        <li class="nav-item"><a href="#projects" class="nav-link">Projetos</a></li>
        <li class="nav-item"><a href="#lab" class="nav-link">Laboratório</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
    </ul>
</header>