<header class="navbar navbar-expand-md d-flex flex-wrap py-3 px-4 navbar-dark"> 
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"> 
        <span class="my-name">Gabriel Peixoto</span> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-light"></span>
    </button>
    <ul class="nav nav-pils justify-content-md-end justify-content-center collapse navbar-collapse" id="navbarToggler">
        <li class="nav-item"><a href="#about" class="nav-link">Sobre</a></li>
        <li class="nav-item"><a href="#projects" class="nav-link">Projetos</a></li>
        <li class="nav-item"><a href="#lab" class="nav-link">Laboratório</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Contato</a></li>
    </ul>
</header>