:host {
    h5 {
        font-family: 'Ubuntu', sans-serif;
    }

    .card {
        background-color: var(--card-bg);
        border: 1px solid var(--card-border);
        transition: .3s;
    }
    .card:hover {
        transform: translateY(-0.25rem);
        border: 1px solid var(--primary);
    }
}