<div [class]="project.classes" (click)="goToProject(project.url)" style="cursor: pointer;">
    <div class="img-container">
        <img [src]="project.imageUrl" class="card-img-top" width="100%" />
    </div>
    <!--<img class="card-img-top" height="270" width="100%" />-->
    <div class="card-body">
        <h5 class="fs-5 text-light p-3 pb-2 m-0">
            {{ project.name }}
        </h5>
        <div class="fs-6 text-light m-0 px-3 py-2" [innerHTML]="project.description">
        </div>
        <div class="row gap-2 m-0 p-3">
            @for (tag of project.tags; track tag) {
                <span class="badge badge-primary col-auto">
                    {{ tag }}
                </span>
            }
        </div>
    </div>
</div>