<div class="card"> 
    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225" 
        preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">

    </svg>
    <div class="card-body">
        <h5 class="fs-5 text-light">
            {{ project.name }}
        </h5>
        <p class="fs-6 text-light">
            {{ project.description}}
        </p>
        <div class="row gap-2 m-0">
            @for (tag of project.tags; track tag) {
                <span class="badge badge-primary col-auto">
                    {{ tag }}
                </span>
            }
        </div>
    </div>
</div>