<div class="col-12 position-fixed" style="z-index: 10;">
    <app-navbar></app-navbar>
</div>
<section id="home" #hero class="parallax">
    <div class="bg-top"></div>
    <app-hero-component></app-hero-component>
    <div class="bg-bottom"></div>
</section>

<section id="about">
    <app-about></app-about>
</section>

<section id="projects">
    <app-projects-component></app-projects-component>
</section>

<section id="lab">
    <app-lab-component></app-lab-component>
</section>

<app-footer-component></app-footer-component>