<div class="px-md-4 py-5 text-center align-content-center bg-gradient-section h-90 orbit-container" [ngStyle]="{'filter': 'blur(' + blurValue + 'px)', 'opacity': opacityValue }"> 
    <div class="">
        <div class="tagline border-0" i18n="@@heroHighlight">
            Disponível para Projetos Freelance & Consultoria
        </div>
        <div class="card-glass-clean">
            <h2 class="display-4 fw-bold text-light mb-4 primary-font" i18n="@@heroTitle">
                Desenvolvedor Fullstack <span class="text-primary-purple">.NET</span>
            </h2>
            <div class="mx-auto">
                <p class="text-gray mb-4 fs-4 mb-4" i18n="@@heroSubtitle">
                    Especialista em construir sistemas web robustos e experiências interativas.
                </p>
                <div class="d-grid d-sm-flex justify-content-sm-center mb-2"> 
                    <a href="#projects" class="btn btn-primary-purple btn-lg primary-font" i18n="@@btnSeeProjects">
                        Ver Projetos
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="orbit-path" style="--radius: 650px;">
        <div class="orbit-wrapper" style="--duration: 25s; --delay: 0s;">
            <div class="item bg-purple-secondary">
                <div><img class="icon-container" [src]="'icons/csharp-svgrepo-com.svg'"/></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 25s; --delay: -7s;">
            <div class="item bg-purple">
                <div class="icon-container"><img class="icon-container"[src]="'icons/dotnet-svgrepo-com.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 25s; --delay: -13s;">
            <div class="item bg-red">
                <div class="icon-container"><img class="icon-container"[src]="'icons/angular-svgrepo-com.svg'"></div>
            </div>
        </div>
    </div>

    <div class="orbit-path" style="--radius: 950px;">
        <div class="orbit-wrapper" style="--duration: 44s; --delay: 0s;">
            <div class="item bg-green">
                <div class="icon-container"><img class="icon-container"[src]="'icons/SQL-Server.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 44s; --delay: -8s;">
            <div class="item bg-blue">
                <div class="icon-container"><img class="icon-container"[src]="'icons/postgresql-svgrepo-com.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 44s; --delay: -20s;">
            <div class="item bg-orange">
                <div class="icon-container"><img class="icon-container"[src]="'icons/linux-ubuntu-148-svgrepo-com.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 44s; --delay: -32s;">
            <div class="item bg-green">
                <div class="icon-container"><img class="icon-container"[src]="'icons/mongodb-svgrepo-com.svg'"></div>
            </div>
        </div>
    </div>

    <div class="orbit-path" style="--radius: 1250px;">
        <div class="orbit-wrapper" style="--duration: 66s; --delay: -5s;">
            <div class="item bg-orange">
                <div class="icon-container"><img class="icon-container"[src]="'icons/rabbitmq-svgrepo-com.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 66s; --delay: -14s;">
            <div class="item bg-red">
                <div class="icon-container"><img class="icon-container"[src]="'icons/unity-svgrepo-com.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 66s; --delay: -23s;">
            <div class="item bg-blue">
                <div class="icon-container"><img class="icon-container"[src]="'icons/docker-svgrepo-com.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 66s; --delay: -34s;">
            <div class="item bg-red">
                <div class="icon-container"><img class="icon-container"[src]="'icons/linux-svgrepo-com.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 66s; --delay: -42s;">
            <div class="item bg-blue">
                <div class="icon-container"><img class="icon-container"[src]="'icons/azure-svgrepo-com.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 66s; --delay: -50s;">
            <div class="item bg-purple-secondary">
                <div class="icon-container"><img class="icon-container"[src]="'icons/stripe-svgrepo-com.svg'"></div>
            </div>
        </div>
        <div class="orbit-wrapper" style="--duration: 66s; --delay: -58s;">
            <div class="item bg-blue">
                <div class="icon-container"><img class="icon-container"[src]="'icons/fedora-svgrepo-com.svg'"></div>
            </div>
        </div>
    </div>
</div>